@model CarMaint.Models.CarData

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        // Fallback to English if Azure can't find the file
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}


<h2>@Lang["car_details_title"]</h2>

<div>
    <h4>@Lang["car_details_info"]</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>@Lang["col_manufacturer"]</dt>
        <dd>@Html.DisplayFor(model => model.Manufacturer)</dd>

        <dt>@Lang["col_model"]</dt>
        <dd>@Html.DisplayFor(model => model.Model)</dd>

        <dt>@Lang["col_year"]</dt>
        <dd>@Html.DisplayFor(model => model.Year)</dd>

        <dt>@Lang["col_engine_type"]</dt>
        <dd>@Html.DisplayFor(model => model.EngineType)</dd>

        <dt>@Lang["col_mileage"]</dt>
        <dd>@Html.DisplayFor(model => model.Mileage)</dd>

        <dt>@Lang["col_customer_name"]</dt>
        <dd>@Html.DisplayFor(model => model.CustomerData.Name)</dd>

    </dl>
</div>
<div style="display:flex; gap:12px;">

    @Html.ActionLink(
        Lang["car_details_edit"].ToString(),
        "Edit",
        new { id = Model.CarId },
        new { @class = "btn btn-primary" }
    )

    @Html.ActionLink(
        Lang["car_details_back"].ToString(),
        "Index",
        null,
        new { @class = "btn btn-secondary" }
    )

</div> 