@model IEnumerable<CarMaint.Models.CustomerData>

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        // Fallback to English if Azure can't find the file
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}


<h2>@Lang["ticket_title"]</h2>
<h4>@Lang["ticket_select_customer"]</h4>

@using (Html.BeginForm())
{
    <p>
        <br />
        @Lang["ticket_find_by_name"]: @Html.TextBox("SearchString")
        <input type="submit" value="@Lang["ticket_search"]" />
    </p>
}

<head>
    <style type="text/css">
        table {
            width: 90%;
            table-layout: fixed;
        }

        td {
            border: 1px solid black;
        }

        .scrollingTable {
            width: 1150px;
            overflow-y: auto;
        }
    </style>

    <script type="text/javascript">
        function makeTableScroll() {
            var maxRows = 10;
            var table = document.getElementById('myTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }
    </script>
</head>

<body>
    <br />
    <table id="myTable2" class="table">
        <tr>
            <th>@Lang["col_name"]</th>
            <th>@Lang["col_address"]</th>
            <th>@Lang["col_city"]</th>
            <th>@Lang["col_postal"]</th>
            <th>@Lang["col_phone"]</th>
            <th>@Lang["col_select_customer"]</th>
        </tr>
    </table>
</body>

<body onload="makeTableScroll();">
    <div class="scrollingTable">
        <table id="myTable" class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Address)</td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.City)</td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.PostalCode)</td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td style="text-align: center;">@Html.ActionLink(Lang["btn_select"].ToString(), "Select", new { id = item.CustomerId })</td>
                </tr>
            }
        </table>
    </div>
</body>
