@model IEnumerable<CarMaint.Models.CarData>

@using System.IO
@using Newtonsoft.Json.Linq

@{
    string lang = "en";

    var cookie = Request.Cookies["lang"];
    if (cookie != null && !string.IsNullOrEmpty(cookie.Value))
    {
        lang = cookie.Value;
    }

    string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
    string jsonText = File.ReadAllText(jsonPath);
    JObject Lang = JObject.Parse(jsonText);

    ViewBag.Title = Lang["ticket_title"].ToString();
}


<h2>@Lang["ticket_title"]</h2>
<h4>@Lang["ticket_select_vehicle"]</h4>

<style>
    table {
        width: 97%;
        table-layout: fixed;
        margin: 0 auto;
    }

    th {
        text-align: center;
        vertical-align: middle;
        border: none;
        font-weight: bold;
        padding: 6px;
    }

    td {
        border: 1px solid black;
        padding: 6px;
    }

    .scrollingTable {
        width: 100%;
        max-width: 1200px;
        overflow-y: auto;
    }

    .btn-menu {
        display: inline-block;
        padding: 6px 12px;
        background: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-weight: bold;
        font-size: 12px;
        color: #333;
        text-decoration: none;
        transition: 0.15s ease-in-out;
    }

        .btn-menu:hover {
            background: #e6e6e6;
            border-color: #999;
            cursor: pointer;
        }
</style>

<script>
    function makeTableScroll() {
        var maxRows = 9;
        var table = document.getElementById('myTable');
        var wrapper = table.parentNode;
        var rowsInTable = table.rows.length;
        var height = 0;

        if (rowsInTable > maxRows) {
            for (var i = 0; i < maxRows; i++) {
                height += table.rows[i].clientHeight;
            }
            wrapper.style.height = height + "px";
        }
    }
</script>

<br />

<table>
    <tr>
        <th>@Lang["col_customer"]</th>
    </tr>
</table>

<table class="table col-lg-12">
    <tr>
        <td class="col-lg-3">@Session["CustomerName"]</td>
        <th class="col-lg-11" style="border:none"></th>
    </tr>
</table>

<br />

<table id="myTable2" class="table"  >
    <tr>
        <th>@Lang["col_manufacturer"]</th>
        <th>@Lang["col_model"]</th>
        <th>@Lang["col_engine_type"]</th>
        <th>@Lang["col_year"]</th>
        <th>@Lang["col_select_vehicle"]</th> 
    </tr>
</table>

<div class="scrollingTable">
    <table id="myTable" class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">@item.Manufacturer</td>
                <td style="text-align:center;">@item.Model</td>
                <td style="text-align:center;">@item.EngineType</td>
                <td style="text-align:center;">@item.Year</td>
                <td style="text-align:center;">
                    @Html.ActionLink(Lang["btn_select_car"].ToString(), "SelectCar", new { engineType = item.EngineType, carId = item.CarId },
                        new { @class = "btn btn-success btn-sm" }
                    )
                </td> 
            </tr>
        }
    </table>
</div>

<script>
    makeTableScroll();
</script>
