@model CarMaint.Models.MaintenanceType
@using System.IO;
@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}

<h2>@Lang["create_title"]</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Lang["type_of_maintenance"]</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger inline-msg" })

        <!-- English Name -->
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">@Lang["English Name"]</label>
            <div class="col-sm-4 d-flex align-items-center">
                @Html.EditorFor(model => model.TaskName_EN, new { htmlAttributes = new { @class = "form-control fixed-input" } })
                @Html.ValidationMessageFor(model => model.TaskName_EN, null, new { @class = "text-danger inline-msg" })
            </div>
        </div>

        <!-- French Name -->
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">@Lang["French Name"]</label>
            <div class="col-sm-4 d-flex align-items-center">
                @Html.EditorFor(model => model.TaskName_FR, new { htmlAttributes = new { @class = "form-control fixed-input" } })
                @Html.ValidationMessageFor(model => model.TaskName_FR, null, new { @class = "text-danger inline-msg" })
            </div>
        </div>

        <!-- Spanish Name -->
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">@Lang["Spanish Name"]</label>
            <div class="col-sm-4 d-flex align-items-center">
                @Html.EditorFor(model => model.TaskName_ES, new { htmlAttributes = new { @class = "form-control fixed-input" } })
                @Html.ValidationMessageFor(model => model.TaskName_ES, null, new { @class = "text-danger inline-msg" })
            </div>
        </div>

        <!-- Cost -->
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">@Lang["cost"]</label>
            <div class="col-sm-4 d-flex align-items-center">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control fixed-input" } })
                @Html.ValidationMessageFor(model => model.Cost, null, new { @class = "text-danger inline-msg" })
            </div>
        </div>

        <!-- Fuel Type -->
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">@Lang["fuel_type"]</label>

            <div class="col-sm-4">

                <!-- First row -->
                <div class="row mb-2">
                    <div class="col-4">
                        <div class="form-check">
                            @Html.EditorFor(model => model.Gas)
                            <label class="form-check-label">@Lang["gas"]</label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-check">
                            @Html.EditorFor(model => model.Diesel)
                            <label class="form-check-label">@Lang["diesel"]</label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-check">
                            @Html.EditorFor(model => model.Electric)
                            <label class="form-check-label">@Lang["electric"]</label>
                        </div>
                    </div>
                </div>

                <!-- Second row -->
                <div class="row">
                    <div class="col-4">
                        <div class="form-check">
                            @Html.EditorFor(model => model.Hybrid)
                            <label class="form-check-label">@Lang["hybrid"]</label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-check">
                            @Html.EditorFor(model => model.Turbo)
                            <label class="form-check-label">@Lang["turbo"]</label>
                        </div>
                    </div>

                    <!-- Validation message -->
                    <div class="col-4 d-flex align-items-center">
                        <span class="text-danger inline-msg">
                            @Html.ValidationMessage("Gas")
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <!-- Buttons -->
        <div class="form-group" style="margin-top:20px;">
            <div class="col-md-offset-2 col-md-4 d-flex gap-3">
                <button type="submit" class="btn btn-primary">
                    @Lang["create_button"]
                </button>

                @Html.ActionLink(
                    Lang["back_to_list"].ToString(),
                    "Index",
                    null,
                    new { @class = "btn btn-secondary" }
                )
            </div>
        </div>

    </div>
}
