@model CarMaint.Models.MaintenanceType
@using System.IO;

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        // Fallback to English if Azure can't find the file
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}


<h2>@Lang["delete_title"]</h2>
<h3>@Lang["delete_confirm"]</h3>

<div>
    <h4>@Lang["type_of_maintenance"]</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Lang["task_name"]</dt>
        <dd>@Html.DisplayFor(model => model.TaskName)</dd>

        <dt>@Lang["cost"]</dt>
        <dd>@Html.DisplayFor(model => model.Cost)</dd>

        <dt>@Lang["gas"]</dt>
        <dd>@Html.DisplayFor(model => model.Gas)</dd>

        <dt>@Lang["diesel"]</dt>
        <dd>@Html.DisplayFor(model => model.Diesel)</dd>

        <dt>@Lang["electric"]</dt>
        <dd>@Html.DisplayFor(model => model.Electric)</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Lang["delete_button"]" class="btn btn-default" />
            |
            @Html.ActionLink(Lang["back_to_list"].ToString(), "Index")
        </div>
    }
</div>
