@model IEnumerable<CarMaint.Models.MaintenanceType>

@using Newtonsoft.Json.Linq

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        // Fallback to English if Azure can't find the file
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}



<h2>@Lang["maint_title"]</h2>

@using (Html.BeginForm())
{
    <p>
        @Lang["maint_find_by_task"]: @Html.TextBox("SearchString")
        <input type="submit" value="@Lang["maint_search"]" />
    </p>
}

@*<p>
    @Html.ActionLink(Lang["maint_create_new"].ToString(), "Create")
</p>*@
<p>
    @Html.ActionLink(
        Lang["maint_create_new"].ToString(),
        "Create",
        null,
        new { @class = "btn-menu" }
    )
</p>
<head>
    <style type="text/css">
        table {
            width: 90%;
            table-layout: fixed;
        }

        td {
            border: 1px solid black;
        }

        .scrollingTable {
            width: 1150px;
            overflow-y: auto;
        }
        .btn-menu {
            display: inline-block;
            padding: 6px 12px; /* smaller padding */
            background: #f2f2f2;
            border: 1px solid #ccc;
            border-radius: 4px; /* slightly smaller radius */
            font-weight: bold;
            font-size: 12px; /* smaller text */
            color: #333;
            text-decoration: none;
            transition: 0.15s ease-in-out;
        }

            .btn-menu:hover {
                background: #e6e6e6;
                border-color: #999;
                cursor: pointer;
            }

    </style>

    <script type="text/javascript">
        function makeTableScroll() {
            var maxRows = 9;
            var table = document.getElementById('myTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }
    </script>
</head>

<body>
    <br />
    <table id="myTable2" class="table">
        <tr>
            <th>@Lang["col_taskname"]</th>
            <th>@Lang["col_cost"]</th>
            <th>@Lang["col_gas"]</th>
            <th>@Lang["col_diesel"]</th>
            <th>@Lang["col_electric"]</th>
            <th></th>
        </tr>
    </table>
</body>

<body onload="makeTableScroll();">
    <div class="scrollingTable">
        <table id="myTable" class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                    <td style="text-align:right;">@string.Format("{0:c}", Convert.ToDecimal(item.Cost))</td>
                    <td style="text-align:center;">@Html.DisplayFor(modelItem => item.Gas)</td>
                    <td style="text-align:center;">@Html.DisplayFor(modelItem => item.Diesel)</td>
                    <td style="text-align:center;">@Html.DisplayFor(modelItem => item.Electric)</td>

                    <td style="text-align: center;">
                        @Html.ActionLink(
                            Lang["btn_edit"].ToString(),
                            "Edit",
                            new { id = item.MaintId },
                            new { @class = "btn btn-primary btn-sm" }
                        )

                        @Html.ActionLink(
                            Lang["btn_details"].ToString(),
                            "Details",
                            new { id = item.MaintId },
                            new { @class = "btn btn-info btn-sm", style = "margin-left: 6px;" }
                        )
                    </td> 
                </tr>
            }
        </table>
    </div>
</body>
