@model IEnumerable<CarMaint.Models.MaintenanceType>
@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        Lang = JObject.Parse(System.IO.File.ReadAllText(jsonPath));
    }
    catch
    {
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        Lang = JObject.Parse(System.IO.File.ReadAllText(fallbackPath));
    }
}

<h2>@Lang["maint_title"]</h2>

@using (Html.BeginForm())
{
    <p>
        @Lang["maint_find_by_task"]: @Html.TextBox("SearchString")
        <input type="submit" value="@Lang["maint_search"]" />
    </p>
}

<p>
    @Html.ActionLink(
        Lang["maint_create_new"].ToString(),
        "Create",
        null,
        new { @class = "btn-menu" }
    )
</p>

<style>
    table {
        width: 65%;
        table-layout: fixed;
        margin: 0 auto;
    }

    th {
        text-align: center;
        vertical-align: middle;
        border: none;
        font-weight: bold;
        padding: 6px;
    }

    td {
        border: 1px solid black;
        padding: 6px;
    }

    .scrollingTable {
        width: 100%;
        max-width: 1200px;
        overflow-y: auto;
    }

    .btn-menu {
        display: inline-block;
        padding: 6px 12px;
        background: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-weight: bold;
        font-size: 12px;
        color: #333;
        text-decoration: none;
        transition: 0.15s ease-in-out;
    }

        .btn-menu:hover {
            background: #e6e6e6;
            border-color: #999;
            cursor: pointer;
        }
</style>

<script>
    function makeTableScroll() {
        var maxRows = 9;
        var table = document.getElementById('myTable');
        var wrapper = table.parentNode;
        var rowsInTable = table.rows.length;
        var height = 0;
        if (rowsInTable > maxRows) {
            for (var i = 0; i < maxRows; i++) {
                height += table.rows[i].clientHeight;
            }
            wrapper.style.height = height + "px";
        }
    }
</script>

<table id="myTable2" class="table" style="width: 75%;">
    <tr>
        <th style="width:200px;">@Lang["col_taskname"]</th>
        <th style="width:100px;">@Lang["col_cost"]</th>
        <th style="width:75px;">@Lang["col_gas"]</th>
        <th style="width:75px;">@Lang["col_diesel"]</th>
        <th style="width:75px;">@Lang["col_electric"]</th>
        <th style="width:75px;">@Lang["col_hybrid"]</th>
        <th style="width:75px;">@Lang["col_turbo"]</th>
        <th></th>
    </tr>
</table>

<div class="scrollingTable">
    <table id="myTable" class="table " style="width: 75%;">
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:200px;">
                    @(lang == "fr" ? item.TaskName_FR :
                      lang == "es" ? item.TaskName_ES :
                      item.TaskName_EN)
                </td>

                <td style="text-align:right; width:100px;">
                    @string.Format("{0:c}", Convert.ToDecimal(item.Cost))
                </td>
                <td style="text-align: center; width: 75px;">@Html.DisplayFor(modelItem => item.Gas)</td>
                <td style="text-align: center; width: 75px;">@Html.DisplayFor(modelItem => item.Diesel)</td>
                <td style="text-align: center; width: 75px;">@Html.DisplayFor(modelItem => item.Electric)</td>
                <td style="text-align: center; width: 75px;">@Html.DisplayFor(modelItem => item.Hybrid)</td>
                <td style="text-align: center; width: 75px;">@Html.DisplayFor(modelItem => item.Turbo)</td>

                <td style="text-align: center;  ">
                    @Html.ActionLink(Lang["btn_edit"].ToString(), "Edit", new { id = item.MaintId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink(Lang["btn_details"].ToString(), "Details", new { id = item.MaintId }, new { @class = "btn btn-info btn-sm", style = "margin-left: 6px;" })
                </td>
            </tr>
        }
    </table>
</div>

<script>
    makeTableScroll();
</script>
