@model CarMaint.Models.CustomerData

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        // Fallback to English if Azure can't find the file
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}


<h2>@Lang["delete_title"]</h2>
<h3>@Lang["delete_confirm"]</h3>

<div>
    <h4>@Lang["delete_customer_info"]</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>@Lang["col_name"]</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Lang["col_address"]</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>@Lang["col_city"]</dt>
        <dd>@Html.DisplayFor(model => model.City)</dd>

        <dt>@Lang["col_postal"]</dt>
        <dd>@Html.DisplayFor(model => model.PostalCode)</dd>

        <dt>@Lang["col_phone"]</dt>
        <dd>@Html.DisplayFor(model => model.Phone)</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Lang["delete_button"]" class="btn btn-default" />
            |
            @Html.ActionLink(Lang["delete_back_to_list"].ToString(), "Index")
        </div>
    }
</div>
