@model CarMaint.Models.CustomerDetailsViewModel

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}

<h2>@Lang["details_title"]</h2>

<div>
    <h4>@Lang["details_customer_info"]</h4>
    <hr />

    <dl class="dl-horizontal">

        <dt>@Lang["col_name"]</dt>
        <dd>@Html.DisplayFor(model => model.Customer.Name)</dd>

        <dt>@Lang["col_address"]</dt>
        <dd>@Html.DisplayFor(model => model.Customer.Address)</dd>

        <dt>@Lang["col_city"]</dt>
        <dd>@Html.DisplayFor(model => model.Customer.City)</dd>

        <dt>@Lang["col_postal"]</dt>
        <dd>@Html.DisplayFor(model => model.Customer.PostalCode)</dd>

        <dt>@Lang["col_phone"]</dt>
        <dd>@Html.DisplayFor(model => model.Customer.Phone)</dd>

    </dl>
</div>

<h4>@Lang["details_customer_cars"]</h4>
<hr />

@if (Model.Cars != null && Model.Cars.Count > 0)
{
    <table class="table  ">
        <thead>
            <tr>
                <th>@Lang["col_manufacturer"]</th>
                <th>@Lang["col_model"]</th>
                <th>@Lang["col_year"]</th>
                <th>@Lang["col_engine_type"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model.Cars)
            {
                <tr>
                    <td>@car.Manufacturer</td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>
                    <td>@car.EngineType</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><i>@Lang["details_no_cars"]</i></p>
}

<div class="d-flex gap-3">
    @Html.ActionLink(
        Lang["details_edit"].ToString(),
        "Edit",
        new { id = Model.Customer.CustomerId },
        new { @class = "btn btn-primary" }
    )

    @Html.ActionLink(
        Lang["details_back_to_list"].ToString(),
        "Index",
        null,
        new { @class = "btn btn-secondary" }
    )
</div>
