@model CarMaint.Models.MaintenanceHistory
@using System.IO;

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        // Fallback to English if Azure can't find the file
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}


<h2>@Lang["delete_title"]</h2>

<h3>@Lang["delete_confirm"]</h3>

<div>
    <h4>@Lang["maintenance_history"]</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Lang["date"]</dt>
        <dd>@Html.DisplayFor(model => model.Date)</dd>

        <dt>@Lang["cost"]</dt>
        <dd>@Html.DisplayFor(model => model.Cost)</dd>

        <dt>@Lang["task_name"]</dt>
        <dd>@Html.DisplayFor(model => model.MaintenanceType.TaskName)</dd>

        <dt>@Lang["customer_name"]</dt>
        <dd>@Html.DisplayFor(model => model.CustomerData.Name)</dd>

        <dt>@Lang["car_manufacturer"]</dt>
        <dd>@Html.DisplayFor(model => model.CarData.Manufacturer)</dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color" style="display:flex; gap:12px;">

            <button type="submit" class="btn btn-danger">
                @Lang["delete_button"]
            </button>

            @Html.ActionLink(
                Lang["back_to_list"].ToString(),
                "Index",
                null,
                new { @class = "btn btn-secondary" }
            )

        </div> 
    }
</div>
