@model IEnumerable<CarMaint.Models.MaintenanceHistory>

@using Newtonsoft.Json.Linq

@{
    string lang = "en";
    if (Request.Cookies["lang"] != null)
    {
        lang = Request.Cookies["lang"].Value;
    }

    JObject Lang;

    try
    {
        string jsonPath = Server.MapPath("~/Lang/" + lang + ".json");
        string jsonText = System.IO.File.ReadAllText(jsonPath);
        Lang = JObject.Parse(jsonText);
    }
    catch
    {
        // Fallback to English if Azure can't find the file
        string fallbackPath = Server.MapPath("~/Lang/en.json");
        string fallbackText = System.IO.File.ReadAllText(fallbackPath);
        Lang = JObject.Parse(fallbackText);
    }
}


<h2>@Lang["hist_title"]</h2>

@using (Html.BeginForm())
{
    <p>
        @Lang["hist_find_by_name"]: @Html.TextBox("SearchString")
        <input type="submit" value="@Lang["hist_search"]" />
    </p>
}

<head>
    <style type="text/css">
        table {
            width: 90%;
            table-layout: fixed;
        }

        td {
            border: 1px solid black;
        }

        .scrollingTable {
            width: 1150px;
            overflow-y: auto;
        }
    </style>

    <script type="text/javascript">
        function makeTableScroll() {
            var maxRows = 9;
            var table = document.getElementById('myTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }
    </script>
</head>

<body>
    <br />
    <table id="myTable2" class="table">
        <tr>
            <th>@Lang["col_hist_customer"]</th>
            <th>@Lang["col_hist_manufacturer"]</th>
            <th>@Lang["col_hist_task"]</th>
            <th>@Lang["col_hist_date"]</th>
            <th style="text-align:left;">@Lang["col_hist_cost"]</th>
            <th></th>
        </tr>
    </table>
</body>

<body onload="makeTableScroll();">
    <div class="scrollingTable">
        <table id="myTable" class="table">

            @foreach (var group in Model.GroupBy(p => p.CustId))
            {
                foreach (var item in group)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CustomerData.Name)</td>
                        <td style="text-align: center;">@Html.DisplayFor(modelItem => item.CarData.Manufacturer)</td>
                        <td style="text-align: center;">@Html.DisplayFor(modelItem => item.MaintenanceType.TaskName)</td>
                        <td style="text-align: right;">@Html.DisplayFor(modelItem => item.Date)</td>
                        <td style="text-align:right;">@string.Format("{0:c}", item.Cost)</td>

                        <td style="text-align:center; width:200px;">
                            @Html.ActionLink(
                                Lang["btn_edit"].ToString(),
                                "Edit",
                                new { id = item.HistoryId },
                                new { @class = "btn btn-sm btn-primary" }
                            )

                            @Html.ActionLink(
                                Lang["btn_details"].ToString(),
                                "Details",
                                new { id = item.HistoryId },
                                new { @class = "btn btn-sm btn-info", style = "margin-left:6px;" }
                            )
                        </td>

                    </tr>
                }

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="text-align:right;   font-weight:bold;">
                        @Lang["hist_total_cost"]: @string.Format("{0:c}", group.Sum(x => x.Cost))
                    </th>
                </tr>
            }

        </table>
    </div>
</body>

<body>
    <div>
        <table id="myTable3">
            <tr>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>
                <th style="background-color:white"></th>

                @if (ViewBag.Total > 0)
                {
                    <th style="background-color:white; text-align:right;">
                        @Lang["hist_total_cost"]:
                        @(((decimal)ViewBag.Total).ToString("C2"))
                    </th>
                }
            </tr>
        </table>
    </div>
</body>

